#mainDiv{
    border-top : solid 2px #984b61;

}
.span {
    background-color: #984b61;
    float: left;
    width: 300px;
    height: 650px;
    padding: 10px;
}
.span p {
    text-align: center;
    color: white;
}
